<?xml version='1.0' encoding='utf-8'?>
<widget id="com.apizee.hellortc" version="0.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloRTC</name>
    <description>
        A sample Apache Cordova application that test APIRTC call.
    </description>
    <author email="samuel.liard@apizee.com" href="http://apizee.com">
        Apizee Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />

        <icon src="res/android/icon-mdpi.png" density="mdpi" />
        <icon src="res/android/icon-hdpi.png" density="hdpi" />
        <icon src="res/android/icon-xhdpi.png" density="xhdpi" />
        <icon src="res/android/icon-xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/icon-xxxhdpi.png" density="xxxhdpi" />

        <splash src="res/screen/android/port-hdpi-480x800.png" density="port-hdpi"/>
        <splash src="res/screen/android/port-ldpi-200x320.png" density="port-ldpi"/>
        <splash src="res/screen/android/port-mdpi-320x480.png" density="port-mdpi"/>
        <splash src="res/screen/android/port-xhdpi-720x1280.png" density="port-xhdpi"/>
        <splash src="res/screen/android/port-xxhdpi-960x1600.png" density="port-xxhdpi"/>
        <splash src="res/screen/android/port-xxxhdpi-1280x1920.png" density="port-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="deployment-target" value="9.0" />
        <preference name="BackupWebStorage" value="local" />

        <preference name="webviewbounce" value="false" />
        <preference name="UIWebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />

        <preference name="ios-XCBuildConfiguration-ENABLE_BITCODE" value="NO" />
        <preference name="ios-XCBuildConfiguration-SWIFT_OBJC_BRIDGING_HEADER" value="../../plugins/cordova-plugin-iosrtc/src/cordova-plugin-iosrtc-Bridging-Header.h" />
        <preference name="ios-XCBuildConfiguration-LD_RUNPATH_SEARCH_PATHS" value="@executable_path/Frameworks" />

        <config-file parent="CFBundleVersion" platform="ios" target="*-Info.plist">
            <string>11</string>
        </config-file>

        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>

</widget>
